<p>user-login works!</p>
<h1>{{ welcomeMessage }}</h1>
<div>
    <label>{{ firstName }}</label>
    <input type="text" placeholder="Enter the first name"><br><br>
    <label>{{ phoneNumber }}</label>
    <select>
        <option>+91</option>
        <option>+641</option>
        <option>+441</option>
    </select>
    <input type="number" value="number" placeholder="Phone number"><br><br>
    <label>{{ mail }}</label>
    <input type="email" placeholder="E-mail"><br><br>
    <label>{{message}}</label>
    <input type="text" placeholder="Enter the Message"><br><br>
    <input type="submit">
    <input type="button" value="Cancel">
    <input type="reset">
</div>